@mixin roundedWithShadows() {
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 10px black;
}

.add-form {
    margin: 5%;

    .new-color {
        @include roundedWithShadows();
        margin: 2% auto 5%;
    }

    button {
        @include roundedWithShadows();
        width: 60%;
        margin: auto;
    }
}